@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* p {
  font-size: 65px;
  color: purple;
} */
/* 
* {
  border: 1px solid red;
} */
/* html {
  font-size: 22px;
}

main {
  font-family: monospace;
}

button,
input,
textarea,
select {
  font: inherit;
}



p {
  color: purple;
}

.article2-content {
  color: gray;
}

.article3-content {
  color: gray;
}

#first {
  font-style: italic;
}

.highlight {
  background-color: gold;
  text-transform: uppercase;
}

h1,
h2 {
  color: blue;
} */

/* body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: papayawhip;
  color: darkblue;
}

p {
  /* color: rgba(0, 0, 0, 0.5); */
/* color: rgb(0, 0, 0); */
/* color: #ff0000; */
/* }  */

/* p {
  font-size: 16px; */
/* font-size: 32px; */
/* } */
/* 
html {
  font-size: 16px;
} */

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}
header {
  /* width: 50%; */
  /* width: 100%; */
  /* width: 80%; */
}

* {
  /* margin: 0;
  padding: 0;
  box-sizing: content-box; */
}

/* header {
  border: 2px dashed red;
  width: 400px;
  padding: 1.5rem;
} */

.container {
  /* border: 2px dashed red;
  width: 400px; */
  /* padding: 1.5rem;
  margin: 1.5rem; */
  /* margin: 1.5em;
  padding: 1.5em;
  outline: 5px solid purple;
  outline-offset: -20px; */
}

h1 {
  /* border: 2px dashed red; */
  /* width: 50%; */
  /* width: 400px;
  font-size: 3rem;
  padding: 0.5em; */
}

p {
  /* font-size: 1rem; */
  /* font-size: 2rem;
  width: 40ch; */
}

main {
  /* font-size: 2rem; */
  /* background-color: skyblue;
  width: 50vw; */
  /* font-size: 2em; */
}

body {
  /* width: 100vw; */
  /* width: 100vh; */
}

.circle {
  /* background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  outline: 2px solid red;
  outline-offset: 0.25rem;
  margin: 3rem auto;
  border-radius: 50px; */
}

body {
  /* padding: 10%; */
  /* font-size: 2rem; */
  /* font-family: serif; */
  /* font-family: sans-serif; */
  /* font-family: monospace; */
  /* font-family: cursive; */
  /* font-family: fantasy; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: "Roboto", sans-serif; */
}

/* input,
button {
  font: inherit;
} */

p {
  /* text-decoration: line-through; */
  /* text-decoration: underline; */
  /* text-decoration: none; */
  /* text-transform: capitalize; */
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  /* text-align: justify; */
  /* text-align: left; */
  /* text-align: right; */
  /* text-indent: 2em; */
  /* line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-weight: 100; */
  /* font-weight: 400; */
  /* font-weight: bolder; */
  /* font-style: italic; */
  /* font-style: oblique; */
}

body {
  /* padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif; */
}

a {
  /* text-decoration: none;
  cursor: pointer;
  color: brown; */
  /* color: #000; */
}

/* a:visited {
  color: chocolate;
}

a:hover,
a:focus {
  color: blueviolet;
  opacity: 0.3;
  background: gold;
}

a:active {
  color: red;
} */

body {
  /* padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif; */
}

ol {
  /* list-style-type: lower-alpha; */
  /* list-style-type: georgian; */
  /* list-style-type: decimal; */
  /* list-style-type: decimal-leading-zero; */
  /* list-style-type: disc; */
  /* list-style-type: circle; */
  /* list-style-type: upper-roman; */
  /* list-style-type: none;
  padding: 0; */
}

ul {
  /* list-style-type: square;
  text-align: center;
  list-style-position: inside; */
  /* list-style-position: outside; */
  /* color: cornflowerblue;
  line-height: 1.6; */
  /* list-style-image: url("../images/checkmark.png"); */
}

ul li:nth-child(odd) {
  /* color: red; */
}

/* ul li:nth-child(even) {
  color: red;
} */
/* ul li:nth-child(2) {
  color: red;
} */

ul li::marker {
  /* color: red;
  font-family: fantasy;
  font-size: 1em; */
  /* content: "Only $5>>"; */
}

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  /* margin: 0.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center; */
}

nav {
  /* border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem; */
}

h2 {
  /* padding: 1rem;
  background: gold;
  border-radius: 2rem 2rem 0 0; */
}

ul {
  /* list-style-position: inside;
  list-style-type: none; */
}

li {
  /* border-top: 1px solid #333; */
}

li a {
  /* display: block; */
}

li a,
li a:visited {
  /* text-decoration: none;
  color: #333; */
}

li a:hover,
li a:focus {
  /* background: #333;
  color: whitesmoke;
  cursor: pointer; */
}

li:last-child a {
  /* border-radius: 0 0 2rem 2rem; */
}

body {
  /* font-size: 2rem;
  font-family: "Roboto", sans-serif; */
}

p {
  /* background-color: lightgray; */
  /* margin: 100px 50px; */
}

/* main {
  width: 50%;
  background-color: aqua;
} */

.opposite {
  /* background-color: #333;
  color: whitesmoke;
  margin-top: 100px;
  height: 200px; */
  /* padding: 1rem; */
  /* padding: 4rem; */
  /* display: inline; */
  /* display: inline-block; */
}

ul {
  /* list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0; */
}

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

li {
  /* display: inline-block;
  margin-inline: 0.5rem; */
}

li a {
  /* color: #fff;
  text-decoration: none; */
}

li a:hover,
li a:focus {
  /* text-decoration: underline; */
}

/* the reference video link is-https://www.youtube.com/watch?v=OXGznpKZ_sA&t=29727s */
